# KRX Open API
KRX_API_KEY=

# 공공데이터포털 금융위원회_주식발행정보 API
DATA_GO_KR_API_KEY=

# DART OpenAPI
DART_API_KEY=

# Google Sheets
GOOGLE_SHEET_ID=1THcCbn5n9NQesOa0JHV3B-pdCeab8sRqMZhxOIWI-pg
# GitHub에서는 서비스 계정 JSON 전체를 GOOGLE_SERVICE_ACCOUNT_JSON Secret으로 저장합니다.
GOOGLE_SERVICE_ACCOUNT_JSON=
